@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="main-sec">
        <div class="container">
            <h1>WELCOME TO DAY</h1>
            <p>We are team of talented designers making websites with Bootstrap</p>
            <button type="button" class="btn btn-outline-light">GET STARTED</button>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="content d-flex gap-5">
                <div class="left col-md-6 col-sm-12">
                    <h2>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h2>
                    <p class="italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <ul>
                        <li>
                            <i class="las la-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </li>
                        <li>
                            <i class="las la-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate
                            velit.
                        </li>
                        <li>
                            <i class="las la-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in
                            reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                            pariatur.
                        </li>
                    </ul>
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum
                    </p>
                </div>
                <div class="right col-md-6 ">
                    <img src="~/assets/imgs/about.jpg" alt="">
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body pt-5 pb-5">
                            <h3>01</h3>
                            <h4 class="card-title">Lorem Ipsum</h4>
                            <p class="card-text">
                                Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et
                                consectetur ducimus vero placeat
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body pt-5 pb-5">
                            <h3>02</h3>
                            <h4 class="card-title">Repellat Nihil</h4>
                            <p class="card-text">
                                Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis
                                dolor quod et vel dire leno para dest
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body pt-5 pb-5">
                            <h3>03</h3>
                            <h4 class="card-title">Ad ad velit qui</h4>
                            <p class="card-text">
                                Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt
                                debitis quo vel nam quis
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clients  mt-5 mb-5 pt-5 pb-5">
        <div class="container d-flex align-items-center justify-content-around">
            <img src="~/assets/imgs/client-1.png" alt="">
            <img src="~/assets/imgs/client-2.png" alt="">
            <img src="~/assets/imgs/client-3.png" alt="">
            <img src="~/assets/imgs/client-4.png" alt="">
            <img src="~/assets/imgs/client-5.png" alt="">
            <img src="~/assets/imgs/client-6.png" alt="">
        </div>
    </section>

    <section class="services mt-5 mb-5">
        <div class="container">
            <div class="title">
                <h2>SERVICES</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 text-center">
                        <i class="las la-basketball-ball"></i>
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <i class="las la-file-alt"></i>
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <i class="las la-tachometer-alt"></i>
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <i class="las la-globe"></i>
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <i class="las la-tv"></i>
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <i class="las la-place-of-worship"></i>
                        <div class="card-body">
                            <h5 class="card-title">Lorem Ipsum</h5>
                            <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call">
        <div class="container">
            <div class="title">
                <h2>Call To Action</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button type="button" class="btn btn-outline-light">CALL TO ACTION</button>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <div class="container">
            <div class="title">
                <h2>PORTFOLIO</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
            <div class="portfolio-content">
                <div style="display: flex; flex-direction:column; align-items:center;justify-content: center;">
                    <ul style="display: flex;list-style-type: none;">
                        <li class="nav-el" data-target="ALL" style="padding:16px 22px; cursor: pointer;">ALL</li>
                        <li class="nav-el" data-target="APP" style="padding:16px 22px; cursor: pointer;">APP</li>
                        <li class="nav-el" data-target="CARD" style="padding:16px 22px; cursor: pointer;">CARD</li>
                        <li class="nav-el" data-target="WEB" style="padding:16px 22px; cursor: pointer;">WEB</li>
                    </ul>
                    <div class="boxes" style="display: flex; flex-wrap: wrap;">

                        <div class="col">
                            @foreach (App item in Model.Apps)
                            {
                                <div data-id="APP" class="box">
                                    <img src="~/assets/imgs/@item.Image" class="image" style="width: 400px;" height="400px" alt="">
                                    <div class="middle">
                                        <div class="text">
                                            <h5>@item.Title1</h5>
                                            <p>@item.Title2</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col">
                        @foreach (Card item in Model.Cards)
                        {
                            <div data-id="CARD" class="box">
                                <img src="~/assets/imgs/@item.Image" class="image" style="width: 400px;" height="400px" alt="">
                                <div class="middle">
                                    <div class="text">
                                        <h5>@item.Title1</h5>
                                        <p>@item.Title2</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col">
                        @foreach (Web item in Model.Webs)
                        {
                            <div data-id="WEB" class="box">
                                <img src="~/assets/imgs/@item.Image" class="image" style="width: 400px;" height="400px" alt="">
                                <div class="middle">
                                    <div class="text">
                                        <h5>@item.Title1</h5>
                                        <p>@item.Title2</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="pricing mt-5">
        <div class="container">
            <div class="title">
                <h2>PRICING</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
            <div class="pricing-content">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">FREE</h5>
                                <h2>$0 / month</h2>
                                <ul>
                                    <li>Aida dere </li>
                                    <li>Nec feugiat nisl</li>
                                    <li> Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                                <button type="button" class="btn btn-danger">BUY NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-danger text-white">
                            <div class="card-body text-center">
                                <h5 class="card-title">BUSINESS</h5>
                                <h2>$19 / month</h2>
                                <ul>
                                    <li>Aida dere </li>
                                    <li>Nec feugiat nisl</li>
                                    <li> Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                                <button type="button" class="btn btn-danger">BUY NOW</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title">DEVELOPER</h5>
                                <h2>$29 / month</h2>
                                <ul>
                                    <li>Aida dere </li>
                                    <li>Nec feugiat nisl</li>
                                    <li> Nulla at volutpat dola</li>
                                    <li>Pharetra massa</li>
                                    <li>Massa ultricies mi</li>
                                </ul>
                                <button type="button" class="btn btn-danger">BUY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team mt-5 pt-5">
        <div class="container">
            <div class="title">
                <h2>TEAM</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
            <div class="team-content mt-5">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 text-center">
                            <div class="div pt-5">
                                <img src="~/assets/imgs/team-1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Walter White</h5>
                                <h6 class="card-title">Chief Executive Officer</h6>
                                <p class="card-text">Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                                <div class="team-social d-flex gap-1 justify-content-center">
                                    <i class="lab la-twitter"></i>
                                    <i class="lab la-facebook"></i>
                                    <i class="lab la-instagram"></i>
                                    <i class="lab la-linkedin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 text-center">
                            <div class="div pt-5">
                                <img src="~/assets/imgs/team-2.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sarah Jhinson</h5>
                                <h6 class="card-title">Product Manager</h6>
                                <p class="card-text">Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                                <div class="team-social d-flex gap-1 justify-content-center">
                                    <i class="lab la-twitter"></i>
                                    <i class="lab la-facebook"></i>
                                    <i class="lab la-instagram"></i>
                                    <i class="lab la-linkedin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 text-center">
                            <div class="div pt-5">
                                <img src="~/assets/imgs/team-3.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">William Anderson</h5>
                                <h6 class="card-title">CTO</h6>
                                <p class="card-text">Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut</p>
                                <div class="team-social d-flex gap-1 justify-content-center">
                                    <i class="lab la-twitter"></i>
                                    <i class="lab la-facebook"></i>
                                    <i class="lab la-instagram"></i>
                                    <i class="lab la-linkedin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contactt mt-5 pt-5">
        <div class="container">
            <div class="title">
                <h2>CONTACT</h2>
                <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
            <div class="contact-content">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100 text-center pt-4 pb-3">
                            <i class="las la-map-marker"></i>
                            <div class="card-body">
                                <h5 class="card-title">Our Address</h5>
                                <p class="card-text">A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 text-center pt-4 pb-3">
                            <i class="las la-envelope"></i>
                            <div class="card-body">
                                <h5 class="card-title">Email Us</h5>
                                <p class="card-text">contact@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 text-center pt-4 pb-3">
                            <i class="las la-phone"></i>
                            <div class="card-body">
                                <h5 class="card-title">Call Us</h5>
                                <p class="card-text">+1 5589 55488 55</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-form d-flex mt-5 gap-5">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.748317523108!2d49.813257115705156!3d40.37010466639721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc397d94dc3%3A0x617bc46b47244c00!2sAzerbaijan%20Technical%20University!5e0!3m2!1sen!2s!4v1655461146589!5m2!1sen!2s" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="form ">
                    <form>
                        <ul class="form-style-1">
                            <li>
                                <label>Name </label>
                                <input type="text" name="field1" class="field-divided" placeholder="Name" />
                                <input type="email" name="field2" class="field-divided" placeholder="Email" />
                            </li>
                            <li>
                                <label>Subject</label>
                                <input type="text" name="field1" class="field-divided" placeholder="Subject" style="width: 100%;" />
                                </select>
                            </li>
                            <li>
                                <label>Your Message</label>
                                <textarea name="field5" id="field5" class="field-long field-textarea" placeholder="Message"></textarea>
                            </li>
                            <li>
                                <button type="button" class="btn btn-danger">Send Message</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>